.idea/
*/.idea/
*/*.iml
*/target/
*/.mvn/
*/mvnw
*/mvnw.cmd
*/.gitignore
*/src/main/resources/application.properties

*/.gradle
*/local.properties
*/.DS_Store
*/*/build/
*/*/captures
*/.externalNativeBuild
*/build
